<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Authorizations') }}
  </h2>
  <div class="module-content">
    <ul>
      <li>{{ _('Sysadmins are allowed to see all users.') }}</li>
      <li>{{ _('Admins are allowed to see all users in their organizations.') }}</li>
    </ul>
    <p>{{ _('Roles cascade to suborganizations. User roles in suborganizations are only shown if they differ from the role
    in the top level organization') }}</p>
    {% set is_sysadmin = h.check_access('sysadmin') %}
    {% if is_sysadmin %}
      <a href="{{ h.url_for('ogdch_users_blueprint.download_csv') }}"
         class="btn btn-primary btn-xs" role="button" target="_blank"
         download="Users - {{ c.env }}.csv">
        <i class="fa fa-arrow-circle-o-down"></i>
        {{ _('Download Users') }}
      </a>
    {% endif %}
  </div>
</div>
